<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="angular.js"></script>
</head>
<body>
 
  <p>Nothing here {{'yet' + '!'}}</p>
 
</body>
</html>

