<!doctype html>
<html ng-app>
  <head>
    <script src="angular.js"></script>
  </head>
  <body>
    <div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeHolder="Enter a name here."/>
      <h1>Hello {{yourName}}</h1>
    </div>
  </body>
</html>
