<html ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="angular.js"></script>
  <script src="js/controllers-service-customised.js"></script>
</head>
<body ng-controller="PhoneListCtrl">
  <div class="container-fluid">  
    <div class="row-fluid">
      <div class="span2">
          <!--Sidebar content-->
           Search: <input ng-model="query">
           <select ng-model="orderProp">
             <option value="name">Alphabetical</opotion>
             <option value="age">Newest</opotion>
           </select>
      </div>        
      <div class="span10">
        <!--Body content -->
        <ul class="phones">
          <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
            {{phone.name}}
            <p>{{phone.snippet}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div> 
</body>
</html>
