<!doctype html>
<html ng-app="todoApp">
  <head>
    <script src="angular.js"></script>
    <script src="css/todo.js"></script>
    <link rel="stylesheet" href="todo.css" />
  </head>
  <body>
    <h2>TODO</h2>
    <div ng-controller="TodoListController as todoList">
        <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
    </div>    
  </body>
</html>
